<div id="<%= dom_id staff %>">
  <p>
    <strong>Name:</strong>
    <%= staff.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= staff.work %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= staff.salary %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= staff.contact %>
  </p>

  <p>
    <strong>Hotel:</strong>
    <%= staff.hotel.name %>
  </p>

</div>
