<div id="<%= dom_id room %>">
  <p>
    <strong>Room No:</strong>
     <%= room.id %>
  </p>  
  <p>
    <strong>Hotel:</strong>
    <%= room.hotel.name %>
  </p>
  
  <p>
    <strong>Room type:</strong>
    <%= room.Type %>
</p>
  <p>
    <strong>Room rate:</strong>
    <%= room.room_rate %>
</p>
</div>
